#planet {
    position: absolute;
    z-index: -1;
    width: auto;
    height: 90%;
    display: none;
    margin-left:8%;
    margin-top: 3%;
    overflow:hidden;
  }
  
  .planet-small-screen {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    z-index: 1000;
  }
  .center-content{
      display: flex;
      justify-content: center;
   
  }
  h4{
      text-align: center;
      font-weight: bolder;
  }
  h3 {
    text-align: center;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: -20px;
    font-size: 24px;
  }
  .informations {
    width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    line-height: normal;
    margin-top: -32%;
  }
  
  @media (max-width: 600px) {
    .informations {
      width: 320px;
      background-color: white;
      padding: 20px;
      border-radius: 30px;
      line-height: normal;
      margin-top: -32%;
    }
    h4{
        display:none
    }
  }
  
  @media (min-width: 600px) {
    .informations {
    width: 400px;
    margin-top: -10%;
    }
    .planet-small-screen {
        width: 50%;
    }
    h3{
        display: none;
    }

  }
  
  input[type=email] {
    width: 100%;
    font-family: azo-sans-web, sans-serif;
    font-size: 14px;
    background: linear-gradient(74deg, #ffa8b3 50%, #ffaf3e 100%);
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    z-index: 9001;
  }
  
  input[type=password] {
    width: 100%;
    font-family: azo-sans-web, sans-serif;
    font-size: 14px;
    background: linear-gradient(74deg, #ffa8b3 50%, #ffaf3e 100%);
    border: none;
    border-radius: 20px;
    z-index: 9001;
  }

  @media (min-width: 768px) {
    input[type=email]{
        width:360px;
    }
    input[type=password]{
        width:360px;
    }

  }
  .btn {
    background: #ceb1e1;
    border: none;
    font-family: azo-sans-web, sans-serif;
    border-radius: 15px;
  }
  
  .mt-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  @media (min-width: 990px) {
    .planet-small-screen{
        display: none;

    }
    .informations {
    margin-top: 13%;
    margin-right: 15%;
    width:500px;
    }
    #planet{
        display: flex;
    }
    .center-content{
        display: flex;
        justify-content: right;
     
    }
    input[type=email]{
      width:460px;
  }
  input[type=password]{
      width:460px;
  }

  }
