

.navbar-icon-organizer{
    width: 50px;
    height: auto;
}
.navbar-organizer-links li{
   list-style: none;
   display: inline;
   margin-right: 50px;

}
.navbar-organizer-links{
    width:100%;
    display: flex;
    justify-content: right;
}
.navbar-organizer-links{
    margin-bottom:0;
}
#logout-organizer {
  margin-top:10px;
  font-size: 18px;
}
.sidebar{
   
    background: linear-gradient(74deg, #ffa8b3 50%, #ffaf3e 100%); 
    width: 15rem;
    position: absolute;
    height: 90%;
    margin-top:-40px;
    -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: -1;
    opacity: 1;
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.5s; /* Firefox < 16 */
     -ms-animation: fadein 0.5s; /* Internet Explorer */
      -o-animation: fadein 0.5s; /* Opera < 12.1 */
         animation: fadein 0.5s;
}

@keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

.fadeout{
    -webkit-animation-duration: 0.5s;animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;animation-fill-mode: both;
 }

 @-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
 }

 @keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
 }

 .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
 }


.sidebarposition{
    display: flex;
    justify-content: right;
}

.sidebar-list{
    margin-top: 50px;
    list-style: none;
}
.sidebar-list li{
   margin-top: 0px;
   font-size: 20px;
   padding:10px;
}
.sidebar-list li:hover{
    background:white;
    -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding:20px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    opacity: 1;
    transition: opacity 0.5s;}


.fa-regular {
  margin-right: 30px;
}
.fa-solid{
    margin-right: 30px;
  }
.toggle{
    display:none;
    opacity: 0;

}
