@import 'main';

body{ 
    margin: 0px;
    background: linear-gradient(74deg, rgba(206,177,225,1) 100%, #ffa8b3 50%, #ffaf3e 100%);   
    font-family: azo-sans-web, sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav{
   background-color: white;
   padding:1px;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  
}
#logo{
    width:150px;
    height: auto;
}


ul#navbar-links li{
    list-style: none;
    display: inline;
}
#navbar-links2{
    float:right;
    margin-right:50px
}
.singular-link{
    margin-left:100px
}

footer{
    font-size: 12px;
    font-weight: lighter;
    bottom: 0;
    right: 0;
    position: absolute;
    width:100%;
    text-align: right;

}
.custom-shape-divider-bottom-1644256186 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1644256186 svg {
    position: relative;
    display: block;
    width: calc(148% + 1.3px);
    height: 100px;
}

.shape-fill {
    fill: #FFFFFF;
}
.footer-wave{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

